global-analysis-forecast-phy-001-024_1603882856077.nc
CERSAT-GLO-BLENDED_WIND_L4-V6-OBS_FULL_TIME_SERIE_1603883929498.nc
chapter3_simulation.ipynb
chapter3_simulation_accumulation.ipynb
chapter3_simulation_cyl.ipynb
plotting.ipynb
