ani_heatmap_Max_KFloat_H085_W15.gif
ani_heatmap_Max_KFloat_H090_W10.gif
ani_heatmap_Max_KFloat_H095_W05.gif
ani_heatmap_Max_KFloat_H100_W00.gif
ani_heatmap_Mean_KFloat_H085_W15.gif
ani_heatmap_Mean_KFloat_H090_W10.gif
ani_heatmap_Mean_KFloat_H095_W05.gif
ani_heatmap_Mean_Kfloat_H100_W00.gif
ani_heatmap_Min_Kfloat_H085_W15.gif
ani_heatmap_Min_Kfloat_H090_W10.gif
ani_heatmap_Min_Kfloat_H095_W05.gif
ani_heatmap_Min_Kfloat_H100_W00.gif
ani_heatmap_RK4.gif
ani_point_Max_KFloat_H090_W10.gif
ani_point_Max_KFloat_H095_W05.gif
ani_point_Max_KFloat_H100_W00.gif
ani_point_Mean_KFloat_H085_W15.gif
ani_point_Mean_KFloat_H090_W10.gif
ani_point_Mean_KFloat_H095_W05.gif
ani_point_Mean_Kfloat_H100_W00.gif
ani_point_Min_Kfloat_H085_W15.gif
ani_point_Min_Kfloat_H090_W10.gif
ani_point_Min_Kfloat_H095_W05.gif
ani_point_Min_Kfloat_H100_W00.gif
ani_point_RK4.gif
